.App-header {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  position: relative;
}

.App-header ::after {
  content: "";
  background: url("./gallery/dog-header.jpg") no-repeat;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.App-logo {
  display: inline-block;
  width: 98px;
  height: 100px;
  padding: 0;
  margin-right: 3px;
  background-color: rgb(0,191,255);
}

.nav-menu {
  display: inline-block;
  margin: auto;
  text-align: left;
  vertical-align: top;
  height: 500px;
  margin-left: 0;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-listItem {
  display: inline;
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
}

.App-header a:link{
  text-decoration: none;
  color: white;
}

.App-header a:focus, .header a:hover, .header a:active{
  color: rgb(230,240,240);
}

.App-header a:active{
  text-decoration: underline;
}
